ul {
    padding: 1px;
    margin: 2rem auto;
    border-radius: 20px;
    max-width: 35rem;
    width: 90%;
    background-color: #f1f1f1;
    list-style-type: none;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

li {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 2rem 1rem;
}

ul a:hover, ul a:active {
    color: #eca8b5;
}

h1 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", Andala Mono, monospace;
    font-size: 48px;
    text-decoration: underline;
}